<div class="jumbotron">
  <h1 class="display-4">Welcome !!</h1>
  <p class="lead-paragraph">This is a simple business advertising company. You can register your
    business with us by simply creating an <%= link_to "account", new_user_registration_path %></p>
  <hr class="my-4">
  <p>You can view registered businesses by simply clicking the button below.</p>
  <a class="btn btn-info" href="#" role="button">View Registered Businesses</a>
</div>