
.home-container {
  background-color: grey;
}

.lead-paragraph{
  font-size: 1rem;
}

.logout {
  color: #212529 !important;
  text-decoration: none !important;
}

.search {
  display: inline-block;
}


